<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <queries>
        <package android:name="com.netflix.ninja" />
        <package android:name="com.disney.disneyplus" />
        <package android:name="com.amazon.amazonvideo.livingroom" />
        <package android:name="com.wbd.stream" />
        <package android:name="com.hulu.livingroomplus" />
        <package android:name="com.apple.atve.androidtv.appletv" />
        <package android:name="com.cbs.ott" />
        <package android:name="com.peacocktv.peacockandroid" />
        <package android:name="com.crunchyroll.crunchyroid" />
        <package android:name="tv.fubo.mobile" />
        <package android:name="com.paramount.android.pplus" />
        <package android:name="com.stremio.one" />
        <package android:name="org.xbmc.kodi" />
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_vector"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Marquee"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".playback.PlaybackMonitorService"
            android:exported="false"
            android:label="@string/playback_monitor_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".playback.PlaybackCaptureService"
            android:exported="true"
            android:label="@string/playback_capture_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/playback_accessibility_service" />
        </service>
    </application>
</manifest>
